* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('/src/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; /* Center both horizontally and vertically */
  color: white;
  font-size: 1.4rem;
  padding: 5%;
}

p {
  font-size: 1.1rem;
}

#weather-app {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align to the top */
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgba(0, 0 , 0, 0.6); */
}

.input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid white; /* Add a white underline */
  max-width: 220px;
  margin: 20px 0;
}

#location-input {
  flex-grow: 1;
  max-width: 250px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.1rem;
  outline: none;
}

#fetch-weather-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.weather-left {
  flex-basis: 48%;
  text-align: left;
}

.weather-right {
  flex-basis: 48%; /* Make sure it takes up 48% of the container */
}

.weather-icon {
  width: 100px;
  height: 100px;
}

#loading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px; /* Add spacing between icon and label text */
}

.value {
  text-align: right; /* Right-align the value text */
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align content to the right */
  margin-bottom: 17px;
}

/* Apply white color to all path elements within SVG */
.white-icon {
  height: 25px;
  width: 25px;
}

#localDate, #localTime {
}

#location {
  margin-top: 20px;
}

/* Existing CSS ... */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 1.1rem; /* Scale down from the default */
  }

  p {
      font-size: 1rem; /* Smaller than the default */
  }

  #loading {
      font-size: 1rem;
  }

  .content-right {
    margin-bottom: 9px;
  }

  .input-container {
    max-width: 150px;
  }

  #location-input {
    font-size: 1rem;
    max-width: 150px;
  }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  body {
      font-size: 1rem; /* Even smaller for mobiles */
  }

  p {
      font-size: 0.9rem; /* Smallest for mobile */
  }

  #loading {
      font-size: 0.9rem;
  }

  .content-right {
    margin-bottom: 21px;
  }

  .input-container {
    max-width: 115px;
  }

  #location-input {
    font-size: 0.9rem;
    max-width: 115px;
  }

  .white-icon {
    height: 15px;
    width: 15px;
    }
}

