* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('/src/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 1.2rem;
}

#weather-app {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align to the top */
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid white; /* Add a white underline */
  max-width: 150px;
  margin: 20px 0;
}

#location-input {
  flex-grow: 1;
  max-width: 150px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

#fetch-weather-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input, button {
  font-size: 18px;
}

.weather-left {
  flex-basis: 48%;
  text-align: left;
}

.weather-right {
  flex-basis: 48%; /* Make sure it takes up 48% of the container */
}

.weather-icon {
  width: 100px;
  height: 100px;
}

#loading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between icon and label text */
}

.value {
  text-align: right; /* Right-align the value text */
}

/* Apply white color to all path elements within SVG */
.white-icon {
  height: 25px;
  width: 25px;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align content to the right */
  margin-bottom: 10px;
}

/* Apply white color to all path elements within SVG */
.white-icon {
  height: 25px;
  width: 25px;
}

